.o_dako_vault_kanban {
    .o_kanban_card_content {
        padding: 8px 0;
    }

    .oe_kanban_card {
        min-height: 110px;
    }

    a.o_kanban_primary_bottom {
        color: inherit;
        font-weight: 500;
    }
}

.o_dako_list_btn {
    margin-left: 6px;
}
